* {
    font-family: 'Courier New', Courier, monospace;
    background-color: #cdb9b3;
}
.center {
    text-align: center;
}
.title {
    font-weight: bold;
    font-size: 40px;
    color: #345255;
}
.smalltitle {
    font-weight: 30px;
    color: #345255;
    font-weight: bold;
}
img {
    height: 400px;
    width: auto;
    border: 15px solid #76584f;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.cakesection {
    color: #76584f;
}
.text {
    color: #81602c;
}
