* {
    font-family: 'Courier New', Courier, monospace;
    background-color: green;
}
.center {
    text-align: center;
}
.title {
    font-weight: bold;
    font-size: 40px;
    color: white;
}
.smalltitle {
    font-weight: 30px;
    color: white;
    font-weight: bold;
}
img {
    height: 400px;
    width: auto;
    border: 15px solid brown;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.cakesection {
    color: brown;
}
#home {
    color: black;
}
h4 {
    text-align: center;
}